.petit_logo {
width:20px;
height:20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/*h2 {
 color:whitesmoke;
}*/

p {
    color:whitesmoke;
    font-size: 20px;
    border: 5px solid red;
    border-radius: 10px;
}

feuille{
    background-color: white;

}
.centrer{
    text-align: center;

}

