#container{
    display: flex;
}
#fsClient_MC, #fsContact_MC, #fsAdresse_MC{
   border:2px solid grey;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}


#modaleClient #civilite_MC label
{
    width: fit-content;
    padding-left: 5px;
    padding-right: 15px;
    min-width: fit-content;
}

#modaleClient fieldset label, #modaleClient #lblCivilite_MC
{
    display: inline-block;
    text-align: right;
    width: 35%;
    min-width: 135px;
}

#modaleClient fieldset input[type="text"], #modaleClient #radioCivilite_MC
{
    display: inline-block;
    width: 55%;
    min-width: 210px;
    margin-left: 5px;
}

#modaleClient .col_MC
{
    display: inline-block;
    width: 49%;
    min-width: 230px;
}

#modaleClient .element
{
    margin: 18px 0px;
}

#modaleClient legend
{
    margin-left: 15px;
}

#modaleClient #fsClient_MC
{
    margin-bottom: 5px;
}
#fsAdresse_MC{
    margin-left: 5px;

}