/* ================================ */
/* ================================ */
/* ============= DEVIS ============ */
/* ================================ */
/* ================================ */
#devis{
	width: 720px;
	background-color: antiquewhite;
	border : 1px solid white;
	padding: 10px;
}
#info{
	display: inline-block;
	width: 720px;
	height: 200px;
}
#infoEnt, #infoClient{
	width: 300px;
	height: 180px;
	text-align: left;
	display: inline-block;
	padding-top ; 20px;
	padding-left: 30px;
}
#infoEnt{
	margin-left: 10px;
	float: left;
}

#infoClient {
	float: right;
}
#infoClient label{
	width: 70px;
	margin-bottom: 10px;
}
.labelEnLigne{

	margin-right: 20px;
	display: inline-block;
}
#numDevis,#dateDevis{
	width: 300px;
	height: 30px;
	text-align: left;
}
#numDevis{
	float: left;
}
#dateDevis{
	float: right;
}

#corpsDevis .codeProduit{
	width: 80px;
}
#corpsDevis .quantiteProduit{
	width: 50px;
}
.btn-l, .btn-xl{
	border-radius: 5px;
	color: white;
	font-weight: bold;
}
.btn-l{
	width: 80px;
	height: 30px;
	font-size: 16px;
}
.btn-xl{
	width: 100px;
	height: 40px;
	font-size: 16px;
}
.btn-valide{
	background-color: darkgreen;
}
.btn-warning{
	background-color: darkred;
}
.btn {
	border-radius: 90px;
}
.btn-add{
	background-color: green;
	font-weight: bold;
	color: white;
}
.btn-sup{
	background-color: red;
	font-weight: bold;
	color: white;
}
.btn-xs{
	width: 20px;
	height: 20px;
	font-size: 10px;
}
.btn-sm{
	width: 30px;
	height: 30px;
	font-size: 20px;
}
.btn-md{
	width: 40px;
	height: 40px;
	font-size: 30px;
}
.designation, .prix{
	border: none;
}

.designation{
	width: 250px;
}
.prix{
	width:  60px;
}
.totalHTLigne, .totalTTC, .totalTva, .totalHT{
	width: 80px;
}
.designation, .prix{
	border: none;
}

/* ================================ */
/* ================================ */
/* ============ BOUTONS =========== */
/* ================================ */
/* ================================ */

.btn-l, .btn-xl{
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.btn-valide{
	background-color: darkgreen;
}
.btn-warning{
	background-color: darkred;
}
.btn-add, .btn-sup {
	border-radius: 90px;
	font-weight: bold;
	color: white;
}
.btn-add{
	background-color: green;
}
.btn-sup{
	background-color: red;
}
.btn-xs{
	width: 20px;
	height: 20px;
	font-size: 10px;
}
.btn-sm{
	width: 30px;
	height: 30px;
	font-size: 20px;
}
.btn-md{
	width: 40px;
	height: 40px;
	font-size: 30px;
}
.btn-l{
	width: 80px;
	height: 30px;
	font-size: 16px;
}
.btn-xl{
	width: 100px;
	height: 40px;
	font-size: 16px;
}
