
#cadre {
    background-color: rgba(67, 112, 112, 0.2) ;
    color:white;
    box-shadow: 6px 6px 0px #aaa; 
    height: 120px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    padding: 1em;
    width: 180px;
    max-width: 620px;
    border: 1px solid grey;
    border-bottom-style: none;
   margin-top: -30px;
}

h1{
    margin-top: 50px;
}

.tiers{
    margin-bottom: 20px;
    color: white;
}
thead{
padding:15px;
}
tbody{
    color: white;
}
th
{
background-color: rgba(67, 112, 112, 0.2) ;
}
tr:nth-child(even)
{
color: #262626;
background-color: #f2f2f2;
}
table{
    max-width: 100%;
    margin: 0 auto;
     
}
#centre{
    color: white;
}

h3{
    
    margin-top: 40px;
    box-shadow: 0px 8px 0px #aaa; 
    text-align: center;  
    border-left-style: none;
}